#root {
  margin: 0;
  padding: 1rem;
}

.questions-list {
  padding: 20px;
  overflow: hidden;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 8px 8px 4px #808080;
}

.card {
  padding: 20px;
  overflow: hidden;
}

.MuiButtonBase-root:disabled {
  cursor: not-allowed;
  pointer-events: auto;
}
.editor {
  /* padding-left: 16px; */
  width: 90%;
  margin-bottom: 2rem;
}

.edit-title {
  padding-left: 1rem;
}

@media (max-width: 959px) {
  .editor {
    width: 100%;
  }
}
.labels {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
}
.answers {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
}
.form {
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 8px 8px 4px #808080;
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 4rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .answers {
    /* width: 100%; */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .labels {
    width: 100%;
    margin-left: 0;
  }
}
